In [26]:
import pandas as pd

prt_list = []
tr_bd = pd.read_csv('/programing/programing_created-acer/fnc-1/fnc-1/train_bodies.csv', header=None, encoding='utf-8')
for i in tr_bd.shape:
    prt_list.append(i)

print(f'共有{prt_list[0]}筆資料,{prt_list[1]}個欄位')

共有1684筆資料,2個欄位

In [27]:
tr_bd

            0                                                  1
0     Body ID                                        articleBody
1           0  A small meteorite crashed into a wooded area i...
2           4  Last week we hinted at what was to come as Ebo...
3           5  (NEWSER) – Wonder how long a Quarter Pounder w...
4           6  Posting photos of a gun-toting child online, I...
...       ...                                                ...
1679     2528  Intelligence agencies hunting for identity of ...
1680     2529  While Daleks "know no fear" and "must not fear...
1681     2530  More than 200 schoolgirls were kidnapped in Ap...
1682     2531  A Guantanamo Bay prisoner released last year a...
1683     2532  ANN ARBOR, Mich. – A pizza delivery man in Mic...

[1684 rows x 2 columns]

In [28]:
tr_bd = tr_bd.drop(0)
tr_bd

         0                                                  1
1        0  A small meteorite crashed into a wooded area i...
2        4  Last week we hinted at what was to come as Ebo...
3        5  (NEWSER) – Wonder how long a Quarter Pounder w...
4        6  Posting photos of a gun-toting child online, I...
5        7  At least 25 suspected Boko Haram insurgents we...
...    ...                                                ...
1679  2528  Intelligence agencies hunting for identity of ...
1680  2529  While Daleks "know no fear" and "must not fear...
1681  2530  More than 200 schoolgirls were kidnapped in Ap...
1682  2531  A Guantanamo Bay prisoner released last year a...
1683  2532  ANN ARBOR, Mich. – A pizza delivery man in Mic...

[1683 rows x 2 columns]

In [29]:
lengh_bd = 0

for i in tr_bd[1]:
    lengh_bd += len(i)
    
lengh_bd / len(tr_bd)

2223.2929292929293

In [30]:
import pandas as pd

prt_list = []
tr_sts = pd.read_csv('/programing/programing_created-acer/fnc-1/fnc-1/train_stances.csv', header=None, encoding='utf-8')
for i in tr_sts.shape:
    prt_list.append(i)

print(f'共有{prt_list[0]}筆資料,{prt_list[1]}個欄位')

共有49973筆資料,3個欄位

In [31]:
tr_sts

                                                       0        1          2
0                                               Headline  Body ID     Stance
1      Police find mass graves with at least '15 bodi...      712  unrelated
2      Hundreds of Palestinians flee floods in Gaza a...      158      agree
3      Christian Bale passes on role of Steve Jobs, a...      137  unrelated
4      HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
...                                                  ...      ...        ...
49968  Urgent: The Leader of ISIL 'Abu Bakr al-Baghda...     1681  unrelated
49969  Brian Williams slams social media for speculat...     2419  unrelated
49970  Mexico Says Missing Students Not Found In Firs...     1156      agree
49971  US Lawmaker: Ten ISIS Fighters Have Been Appre...     1012    discuss
49972  Shots Heard In Alleged Brown Shooting Recordin...     2044  unrelated

[49973 rows x 3 columns]

In [32]:
tr_sts = tr_sts.drop(0)
tr_sts

                                                       0     1          2
1      Police find mass graves with at least '15 bodi...   712  unrelated
2      Hundreds of Palestinians flee floods in Gaza a...   158      agree
3      Christian Bale passes on role of Steve Jobs, a...   137  unrelated
4      HBO and Apple in Talks for $15/Month Apple TV ...  1034  unrelated
5      Spider burrowed through tourist's stomach and ...  1923   disagree
...                                                  ...   ...        ...
49968  Urgent: The Leader of ISIL 'Abu Bakr al-Baghda...  1681  unrelated
49969  Brian Williams slams social media for speculat...  2419  unrelated
49970  Mexico Says Missing Students Not Found In Firs...  1156      agree
49971  US Lawmaker: Ten ISIS Fighters Have Been Appre...  1012    discuss
49972  Shots Heard In Alleged Brown Shooting Recordin...  2044  unrelated

[49972 rows x 3 columns]

In [33]:
lengh_sts = 0

for i in tr_sts[0]:
    lengh_sts += len(i)
    
lengh_sts / len(tr_sts)

69.35685984151125

In [35]:
(lengh_bd / len(tr_bd) + lengh_sts / len(tr_sts))/2

1146.3248945672203

In [ ]:
from selenium import webdriver
import requests as rq
#driver = webdriver.Chrome('/programing/programing_created-acer/fnc-1/chromedriver_win32/chromedriver.exe')        

u = 'https://www.ahs.nccu.edu.tw/ischool/public/news_view/show.php?nid=10092'

control = input('are you ready?')
while control == 'y':
    rq.get(u)

In [1]:
import requests as rq
import time
import pandas as pd
import numpy as np
import csv
from bs4 import BeautifulSoup as soup
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [2]:
data1 = pd.read_csv('nytimes_5.csv', index_col=0, encoding='utf-8')
data1

,media name,media,post,link,time,article
0,The New York Times,nytimes,"991 homes were lost in the Marshall fire, one ...",https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,16h,"LOUISVILLE, Colo. — Bryan Giles, who fled with..."
1,The New York Times,nytimes,Breaking News: Dozens of antigovernment protes...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,16h,MOSCOW — Troops from a Russia-led military all...
2,The New York Times,nytimes,Rep. Liz Cheney was the only Republican leader...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,17h,This episode contains strong language. On the...
3,The New York Times,nytimes,In the wake of the Jan. 6 attack on the Capito...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,17h,"​​One year ago, on the very same day when feve..."
4,The New York Times,nytimes,President Biden plans to call on the U.S. to r...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,17h,WASHINGTON — This anniversary of Jan. 6 marked...
...,...,...,...,...,...,...
535,The New York Times,nytimes,"Desmond Tutu’s legacy, many said, was one of u...",https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,"December 26, 2021 at 11:00 PM",The rapid spread of the Omicron variant has ad...
536,The New York Times,nytimes,"As 2021 comes to a close, here's a roundup of ...",https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,"December 26, 2021 at 5:25 PM",BAGHDAD — Protesters in Baghdad hold a sit-in ...
537,The New York Times,nytimes,"""Marriage requires amnesia, a mute button, a f...",https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,"December 26, 2021 at 3:25 PM","By at least one important measure, the Los Ang..."
538,The New York Times,nytimes,Pictured here: snow removal from an antenna do...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,"December 26, 2021 at 1:25 PM",Mayor Bill de Blasio said the city was weighin...
539,The New York Times,nytimes,Three members of the global K-pop phenomenon B...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,"December 26, 2021 at 12:55 PM",As the Omicron variant continues to spread acr...

In [3]:
data2 = pd.read_csv('nytimes___.csv', index_col=0, encoding='utf-8')
data2

,media name,media,post,link,time,article
0,The New York Times,nytimes,Scientists say a microscopic battle between fu...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,9h,"The tiny, spiny and adorable hedgehog is helpi..."
1,The New York Times,nytimes,From @[The New York Times Opinion Section]:In ...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,10h,"Sometime in 2021, I learned how to do somethin..."
3,The New York Times,nytimes,As Kazakhstan erupted in violence and protests...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,11h,MOSCOW — The embattled president of Kazakhstan...
4,The New York Times,nytimes,"Xi’an, a city of 13 million people, has been u...",https://nyti.ms/3FcYkek?fbclid=IwAR0H-vBw_ojRl...,12h,"Thanks partly to the vagaries of Covid-19, the..."
5,The New York Times,nytimes,While there are plenty of prestige series hitt...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,13h,Just six months after the flame was doused in ...
...,...,...,...,...,...,...
71,The New York Times,nytimes,"F. Sionil Jose, the author of a dozen socially...",https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,1d,As snowstorms sweep the East Coast of the Unit...
72,The New York Times,nytimes,"Peter Bogdanovich, who died this week at 82, l...",https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,1d,"Lani Guinier, a legal scholar whose work on vo..."
73,The New York Times,nytimes,The head of a comet often glows green; the tai...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,1d,New York will require health care workers to g...
74,The New York Times,nytimes,At a time when Hollywood often relegated Black...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,1d,Citigroup will dismiss unvaccinated employees ...
75,The New York Times,nytimes,"A former sheriff’s deputy, Aaron Russell, face...",https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,1d,Sidney Poitier made history in 1964 as the fir...

In [7]:
data3 = pd.concat([data1,data2], ignore_index=True)
data3

,media name,media,post,link,time,article
0,The New York Times,nytimes,"991 homes were lost in the Marshall fire, one ...",https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,16h,"LOUISVILLE, Colo. — Bryan Giles, who fled with..."
1,The New York Times,nytimes,Breaking News: Dozens of antigovernment protes...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,16h,MOSCOW — Troops from a Russia-led military all...
2,The New York Times,nytimes,Rep. Liz Cheney was the only Republican leader...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,17h,This episode contains strong language. On the...
3,The New York Times,nytimes,In the wake of the Jan. 6 attack on the Capito...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,17h,"​​One year ago, on the very same day when feve..."
4,The New York Times,nytimes,President Biden plans to call on the U.S. to r...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,17h,WASHINGTON — This anniversary of Jan. 6 marked...
...,...,...,...,...,...,...
584,The New York Times,nytimes,"F. Sionil Jose, the author of a dozen socially...",https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,1d,As snowstorms sweep the East Coast of the Unit...
585,The New York Times,nytimes,"Peter Bogdanovich, who died this week at 82, l...",https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,1d,"Lani Guinier, a legal scholar whose work on vo..."
586,The New York Times,nytimes,The head of a comet often glows green; the tai...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,1d,New York will require health care workers to g...
587,The New York Times,nytimes,At a time when Hollywood often relegated Black...,https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,1d,Citigroup will dismiss unvaccinated employees ...
588,The New York Times,nytimes,"A former sheriff’s deputy, Aaron Russell, face...",https://l.facebook.com/l.php?u=https%3A%2F%2Fn...,1d,Sidney Poitier made history in 1964 as the fir...

In [8]:
data3.isnull().sum()

media name    0
media         0
post          0
link          0
time          0
article       0
dtype: int64

In [10]:
data3.duplicated().sum().sum()

#指定欄位的資料重複時即刪除資料
#df_b.drop_duplicates('Height')

0

In [29]:
data4.to_csv('nytimes_0110.csv', encoding='utf-8')

In [14]:
data4 = data3.drop('media name',axis=1)
data4 = data4.drop('media',axis=1)
data4 = data4.drop('link',axis=1)
data4 = data4.drop('time',axis=1)

In [25]:
c = []
for i in range(len(data4)):
    c.append(i+1)
data4['ID'] = c
data4 = data4[['ID','post','article']]
data4

,ID,post,article
0,1,"991 homes were lost in the Marshall fire, one ...","LOUISVILLE, Colo. — Bryan Giles, who fled with..."
1,2,Breaking News: Dozens of antigovernment protes...,MOSCOW — Troops from a Russia-led military all...
2,3,Rep. Liz Cheney was the only Republican leader...,This episode contains strong language. On the...
3,4,In the wake of the Jan. 6 attack on the Capito...,"​​One year ago, on the very same day when feve..."
4,5,President Biden plans to call on the U.S. to r...,WASHINGTON — This anniversary of Jan. 6 marked...
...,...,...,...
584,585,"F. Sionil Jose, the author of a dozen socially...",As snowstorms sweep the East Coast of the Unit...
585,586,"Peter Bogdanovich, who died this week at 82, l...","Lani Guinier, a legal scholar whose work on vo..."
586,587,The head of a comet often glows green; the tai...,New York will require health care workers to g...
587,588,At a time when Hollywood often relegated Black...,Citigroup will dismiss unvaccinated employees ...
588,589,"A former sheriff’s deputy, Aaron Russell, face...",Sidney Poitier made history in 1964 as the fir...

In [26]:
data_post = data4.drop('article',axis=1)
data_article = data4.drop('post',axis=1)

In [27]:
data_post

      ID                                               post
0      1  991 homes were lost in the Marshall fire, one ...
1      2  Breaking News: Dozens of antigovernment protes...
2      3  Rep. Liz Cheney was the only Republican leader...
3      4  In the wake of the Jan. 6 attack on the Capito...
4      5  President Biden plans to call on the U.S. to r...
..   ...                                                ...
584  585  F. Sionil Jose, the author of a dozen socially...
585  586  Peter Bogdanovich, who died this week at 82, l...
586  587  The head of a comet often glows green; the tai...
587  588  At a time when Hollywood often relegated Black...
588  589  A former sheriff’s deputy, Aaron Russell, face...

[589 rows x 2 columns]

In [28]:
data_article

      ID                                            article
0      1  LOUISVILLE, Colo. — Bryan Giles, who fled with...
1      2  MOSCOW — Troops from a Russia-led military all...
2      3  This episode contains strong language.  On the...
3      4  ​​One year ago, on the very same day when feve...
4      5  WASHINGTON — This anniversary of Jan. 6 marked...
..   ...                                                ...
584  585  As snowstorms sweep the East Coast of the Unit...
585  586  Lani Guinier, a legal scholar whose work on vo...
586  587  New York will require health care workers to g...
587  588  Citigroup will dismiss unvaccinated employees ...
588  589  Sidney Poitier made history in 1964 as the fir...

[589 rows x 2 columns]

In [30]:
data_post.to_csv('nytimes_post.csv', encoding='utf-8')
data_article.to_csv('nytimes_article.csv', encoding='utf-8')